@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;900&display=swap");

.catchEm {
  position: fixed;
  top: 4%;
  right: 0%;
  text-transform: uppercase;
  background-color: red;
  color: yellow;
  font-family: "Fredoka One", cursive;
  text-shadow: -1px 1px 1px black;
  font-size: 20px;
  margin-right: 50px;
  margin-top: 10px;
  float: right;
  border: 2px solid yellow;
  border-radius: 30px;
  padding: 10px;
  transition-duration: 0.4s;
  box-shadow: -1px 5px 4px black;
  cursor: pointer;
  opacity: 0.8;
}
.link {
  text-decoration: none;
}
.catchEm:hover {
  color: yellow;
  background-color: blue;
  font-size: 30px;
  text-shadow: -1px 4px 1px black;
  opacity: 1;
}

.containerFav {
  background-color: red;
  height: auto;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.styleCard {
  background-color: yellow;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  margin: 30px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: -1px 5px 4px black;
  width: 20%;
}
.styleCard:hover {
  box-shadow: -5px 8px 4px black;
}
.styleCard h1 {
  text-transform: uppercase;
  color: red;
  font-family: "Fredoka One", cursive;
  text-shadow: -1px 1px 1px black;
  font-size: 20px;
}

.imgSize {
  width: 150px;
  max-height: 150px;
}

.containerBtn {
  margin-top: 20px;
}

/* bouton ajout */
.btn {
  background-color: red;
  border: 2px solid yellow;
  border-radius: 10px;
  color: yellow;
  padding: 5px;
  font-size: 18px;
  transition-duration: 0.4s;
  box-shadow: -1px 5px 4px black;
  cursor: pointer;
  font-family: "Fredoka One", cursive;
  margin: 0px 0;
  margin-top: 30px;
  margin-bottom: 5px;
}

.btn:hover {
  background-color: blue;
  color: red;
  border: 1px solid red;
  font-size: 23px;
  text-shadow: -1px 2px 1px black;
  font-weight: bold;
}
