@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;900&display=swap");

.body {
  line-height: 1.8;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: blue;
  height: auto;
}
.containerPokemon {
  text-align: center;
}

.containerPokemon img {
  flex-basis: 50%;
}
.containerPokemon h1 {
  text-transform: uppercase;
  color: yellow;
  font-family: "Fredoka One", cursive;
  text-shadow: -1px 5px 1px black;
}
.containerPokemon h1:hover {
  text-shadow: -1px 5px 1px black;
}

.sidebar,
.content {
  margin: 10px;
  padding: 20px;
  color: white;
  box-sizing: border-box;
  background-color: red;
  border-radius: 10px;
  border: 2px solid yellow;
  box-shadow: -1px 5px 4px black;
  /* opacity: 1; */
}
.sidebar:hover,
.content:hover {
  box-shadow: -5px 8px 4px black;
}

.sidebar {
  flex-basis: 55%;
}
/* .sidebar:hover,
.content:hover {
  opacity: 0.8;
} */

/* détails */
.flex {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.content {
  flex-basis: 35%;
  background-color: red;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  height: 10%;
  color: yellow;
  /* display: flex;
  justify-content: space-around; */
  width: auto;
}

/* bouton ajout */
.btn {
  background-color: red;
  border: 2px solid yellow;
  border-radius: 10px;
  color: yellow;
  padding: 5px;
  font-size: 18px;
  transition-duration: 0.4s;
  box-shadow: -1px 5px 4px black;
  cursor: pointer;
  font-family: "Fredoka One", cursive;
  margin: 0px 0;
  margin-top: 30px;
  margin-bottom: 5px;
}

.btn:hover {
  background-color: yellow;
  color: red;
  border: 1px solid red;
  font-size: 23px;
  text-shadow: -1px 2px 1px black;
  font-weight: bold;
}

/* responsive */
@media screen and (max-width: 750px) {
  .content {
    flex-basis: 100%;
    /* order: 2; */
  }
  .sidebar {
    flex-basis: 100%;
    order: 1;
  }
}
