.pokemonDetailPage {
  background-color: blue;
  height: 1080px;
  width: auto;
}
.container {
  background-color: red;
  border-radius: 10px;
  border: 2px solid yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  height: auto;
  width: 50%;
  margin: 50px;
  padding: 20px;
}

.container h1 {
  text-transform: uppercase;
  text-align: center;
  color: yellow;
  text-shadow: -1px 5px 4px black;
  margin: 10px 0;
}

.nomPokemon {
  border-radius: 10px;
  border: 2px solid yellow;
}
.nomPokemon :hover {
  color: black;
  text-shadow: -1px 5px 4px yellow;
}

.imgSize {
  width: 250px;
  margin: 50px 0;
}
.imgSize:hover {
  width: 300px;
}

.containerBtn {
  margin-top: 20px;
}

.btn {
  background-color: red;
  border: 2px solid yellow;
  border-radius: 10px;
  color: yellow;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  transition-duration: 0.4s;
  box-shadow: -1px 5px 4px black;
}

.btn:hover {
  background-color: yellow;
  color: blue;
  border: 1px solid red;
  font-size: 33px;
  font-weight: bold;
  border: 2px solid blue;
}
